html {
  background-color: darkgrey;
}

.container-fluid {
  background-color: darkgrey;
}
input[type="text"] {
  background: transparent;
  color: white;
}
input[type="text"]:focus {
  background: transparent;
  color: white;
}
